<div class="header-image">
    <div class="image"></div>
    <div class="content">
        <span>Разработка и производство</span>
        <span>химических источников тока</span>
    </div>
    <div class="page-content">
        <div class="products-list">
            {{#each data.categories}}
            <a href="">{{name}}</a>
            {{/each}}
        </div>
        <div class="descriptor">
            <div class="text">
                {{#each data.about}}
                <p>{{p}}</p>
                {{/each}}
            </div>
            <div class="products">
                {{#each data.categories}}
                <div class="img" style="background-image: url(/static/images/{{image}})"></div>
                {{/each}}
            </div>
        </div>
    </div>
</div>