<footer class="footer" id="footer">
    <div class="container">
        <h1>АО НПК АЛЬТЭН</h1>
        <div class="contacts">
            <a href="tel:+74999951789">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <span>+7 (499) 995-17-89</span>
            </a>
            <a href="mailto:info@npk-alten.ru">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <span>info@npk-alten.ru</span>
            </a>
        </div>
        <div class="copy">
            <div class="nav-panel">
                <nav class="nav-item">
                    <a href="/">Главная</a>
                </nav>
                <nav class="nav-item">
                    <a href="/products">Продукция</a>
                </nav>
                <nav class="nav-item">
                    <a href="/about">О нас</a>
                </nav>
                <nav class="nav-item">
                    <a href="/contacts">Контакты</a>
                </nav>
            </div>
            <span>©Copyright <span id="copy--full-year"></span></span>
        </div>
    </div>
</footer>