<header class="header" id="header">
    <div class="nav-panel">
        <div class="nav-link">
            <a href="/admin/articles">Статьи</a>
        </div>
        <div class="nav-link">
            <a href="/admin/categories-article">Категории статей</a>
        </div>
        <div class="nav-link">
            <a href="/admin/products">Продукция</a>
        </div>
        <div class="nav-link">
            <a href="/admin/categories-product">Категории продукции</a>
        </div>
        <div class="nav-link">
            <a href="/admin/users">Пользователи</a>
        </div>
    </div>
    <div class="controls-container">
        <div class="user-block">
            <span>Пользователь:</span>
            <span>{{{current_user}}}</span>
        </div>
        <div class="go-to">
            <a href="/">Перейти на сайт</a>
        </div>
    </div>
</header>